In [91]:
# LIBRARY
## Essentials
import array
import pandas as pd
import numpy as np

## Regression
import statsmodels.formula.api as smf

## Plotting
import matplotlib.pyplot as plt
import seaborn; seaborn.set() # set plot style

In [40]:
population_dict = {'California': 38332521, 'Texas': 26448193,
                    'New York': 19651127, 'Florida': 19552860,
                    'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [ ]:
area_dict = {'California': 423967, 'Texas': 695662,
             'New York': 141297, 'Florida': 170312,
             'Illinois': 149995}
area = pd.Series(area_dict)
area

In [ ]:
states = pd.DataFrame({'population': population,
                        'area': area})
states

In [ ]:
states['density'] = states['population'] / states['area']
states

In [ ]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])
print(indA,indB)

In [ ]:
indA & indB # Intersection

indA | indB # Union

indA ^ indB # Symmetric difference

In [87]:
series = ['a', 'b', 'c', 'd', 'e', 'f']
indexs = np.arange(1,7)
data = pd.Series(series, index=indexs)

datas = pd.DataFrame({'A': data})
datas['B'] = np.arange(5,11)

datas['C'] = np.random.normal(25, 5, len(datas.index))

datas['D'] = datas['C'] / datas['B']

datas

   A   B          C         D
1  a   5  24.684720  4.936944
2  b   6  16.750478  2.791746
3  c   7  27.944790  3.992113
4  d   8  25.043414  3.130427
5  e   9  26.790170  2.976686
6  f  10  21.529456  2.152946

In [107]:
hey = pd.read_excel('data/test1.xlsx', index_col=3)
hey

        name  weight  height
code
TR     Trump      71     158
BH     Bahar      69     173
SM     Smith      50     169
RZ     Riziq      50     155
AM      Amin      78     168
MM    Maimon      72     175
LS      Lisa      83     165
VI       Via      78     174
AH      Ahok      83     176
AN     Anies      54     160